body
	background-color: white

#part1
	position: absolute
	top: 0
	left: 0
	width:50%
	animation-duration: 5s
	animation-name: slideup
	animation-iteration-count: infinite
	animation-direction: alternate

#part2
	position: absolute
	top: 0
	left: 0
	width:50%
	animation-duration: 5s
	animation-name: slidedown
	animation-iteration-count: infinite
	animation-direction: alternate

@keyframes slideup
	from
		top: 0px;
	to
		top: -500px;

@keyframes slidedown
	from
		top: 0px;
	to
		top: 500px;
