extends layout.pug
block libs
	script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js", type="application/javascript")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js", type="application/javascript")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js", type="application/javascript")
	link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
block content
